
.app {
  min-height: 100vh;
  background-color: lightblue;
  justify-content: space-around;
  align-items: center;
  
}

.header {
  background-color:yellowgreen;
  color:black;
  text-align: center;
}
.main {
  background-color:greenyellow;
  color: rgb(5, 4, 1);
  text-align: center;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.footer {
  background-color: rgb(51, 194, 38);
  color: rgb(5, 4, 1);
  text-align: center;
  justify-content: space-around;
  display: flex;
  align-items: center;
}


.tweet {
  height: 300px;
  width: 300px;
  background-color: gray;
  border-radius: 30px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red{
  color: red;
  font-size: 50px;
}

.button{
  background-color: hotpink;
  display: inline-block;
}

.todo-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: blue;

}
